@media screen and (max-width: 700px) {
    header {
        transform: translateY(-50px) !important;
        font-size: 1em !important;
    }

    main {
        justify-content: center !important;
    }

    .card {
        aspect-ratio: 3/6 !important;
    }

    .button-reset {
        right: 31% !important;
        top: 84.5% !important;
        width: 160px !important;
        height: 90px !important;
        border-radius: 20px !important;
    }  

    .aside {
        left: 50% !important;
        top: 90% !important;
        width: 60px;
        text-align: center;
        line-height: 1 !important;
        font-size: 0.8em !important;
    }

    .container-menu {
        display: none !important;
    }

    .grid {
        grid-template-columns: repeat(6, 1fr) !important;
        transform: translateX(-16px) !important;
    }

    header {
        transform: translateX(-15px) !important;
        width: 530px !important;
    }

    .menu-responsible {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid bisque;
        position: absolute;
        top: 3px;
        left: 6px;
        width: 80px;
        height: 75px;
        background-image: url('../img/menu.svg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    } 
}

body {
    overflow: hidden;
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../img/going2.png');
    background-size: 100% 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px 50px;
}

.container-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3%;
    top: 0%;
    height: 800px;
}

.container-menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.container-menu nav button {
    margin: 10px;
    padding: 8px;
    border: 1px solid bisque;
    border-radius: 8px;
    width: 300px;
    height: 60px;
    background-color: bisque;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #333;
    font-size: 1.2em;
    transition: all 300ms;
}

.container-menu nav button:active {
    box-shadow: 1px 1px 1px 1px #333;
}

.container-menu nav button:hover {
    background-color: rgb(245, 138, 8);
    transform: scale(1.1);
}

.character-ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid bisque;
    border-radius: 5px;
    width: 280px;
    height: 300px;
    transform: translateX(10%);
    box-shadow: 2px 2px 2px 2px #333;
    background-color: bisque;
}

.character-ready img {
    background-size: 100% 100%;
    background-position: center;  
    max-width: 280px;  
    max-height: 270px;
}

.character-ready label {
    padding: 5px;
    text-align: center;
    background-color: #ccc;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    max-width: 1300px;
    height: 35px;
    padding: 30px;
    margin: 0 0 8px;
    border-radius: 5px;
    font-size: 1.2em;
    transform: translateX(8%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 1300px;
    transform: translateX(8%);
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    cursor: pointer;
    background-color: #ccc;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-position: center;
    max-width: 100%;
    border: 1px solid rgba(255, 0, 0, 0.247);
    border-radius: 5px;
    transition: all 400ms;
}

.front {  
    transform: rotateY(180deg);
}

.back {
    background-image: url('../img/One_Piece.jpg');
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disable-card {
    filter: saturate(0);
    opacity: 0.5;
}

.aside {
    position: absolute;
    left: 86%;
    top: 90%;
    width: 300px;
    text-align: center;
    line-height: 1;
}

.button-reset {
    position: absolute;
    right: 85%;
    top: 60%;
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
}

.button-reset button {
    padding: 5px;
    background-color: rgb(196,114,82);
    color: #fff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    letter-spacing: 3;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #333;
}

.button-reset button:active {
    box-shadow: 2px 2px 1px 1px #333;
}
