@media screen and (max-width: 1800px) {
    .container-menu {
        display: none !important;
    }

    .menu-responsible {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid bisque;
        position: absolute;
        top: 3px;
        left: 6px;
        width: 80px;
        height: 75px;
        background-image: url('../img/menu.svg');
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 8px;
    } 
}

@media screen and (max-width: 1000px) {
    .menu-responsible {
        width: 48px!important;
        height: 48px !important;
        cursor: pointer !important;
        z-index: 9999999999;
    }

    .container-menu {
        left: -1% !important;
        z-index: 9999999;
    }

    .character-ready {
        display: none !important;
    }
}

.displayFlex {
    display: flex !important;
}

.container-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1%;
    top: 0%;
    height: 80%;
}

.container-menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100%;
    height: 100vh;
}

.container-menu nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 8px;
    border: 1px solid bisque;
    border-radius: 8px;
    width: 80%;
    height: 60px;
    background-color: bisque;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #333;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    transition: all 300ms;
}

.container-menu nav a:active {
    box-shadow: 1px 1px 1px 1px #333;
}

.container-menu nav a:hover {
    background-color: rgb(245, 138, 8);
    transform: scale(1.1);
}

.character-ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid bisque;
    border-radius: 5px;
    width: 78%;
    height: 300px;
    transform: translateX(13%);
    box-shadow: 2px 2px 2px 2px #333;
    background-color: bisque;
}

.character-ready img {
    background-size: 100% 100%;
    background-position: center;  
    max-width: 280px;  
    max-height: 270px;
}

.character-ready label {
    padding: 5px;
    text-align: center;
    background-color: #ccc;
}






